

.form {
  text-align: center;
 
  
  
}

a {
  text-decoration: none;
 
 
}
.submit{
  nav-left: auto;
  margin-left: 200%;


}
.Forms{
text-align: center;

background-repeat:repeat;


}


.formmm{
background-color: aliceblue;;
padding: 5vh;

}
.ant-form{

background-repeat: repeat-x;
}
.resim2{
 width: 400px;
 height: 75px;
 margin-bottom: 30px;
}

body{
  background-color: aliceblue;
}